<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>WebName | About</title>

        <style>
            .bio-img {
                width: 220px;
                height: 220px;
                object-fit: cover;
                display: block;
            }
            .team-bios{
                background-color: white;
            }
        </style>

    </head>

    <body>

        {% include 'navbar.html' %}

        <!-- Team Bio (Descriptions of each team member) -->
        <div class="team-bios">
            <h1 class="px-5 pt-5 pb-4 text-center">Meet The Team</h1>

            <!-- Name, Bios, Photos, Github Link-->
            <div class="container-fluid">
                <div class="row px-4">

                    <!-- Team Member 1 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://avatars.githubusercontent.com/u/230480931?v=4" 
                                class="card-img-top rounded-circle mx-auto d-block bio-img">
                            <div class="card-body">
                                <div class="text-center">
                                    <!-- Name -->
                                    <h5 class="card-title">Vlad Tomutiu</h5>
                                    <!-- Bio -->
                                    <p class="card-text">
                                        API development and Documentation.
                                    </p>
                                    <!-- Github Profile -->
                                    <p>
                                        <a href="https://github.com/vladtomutiu" class="git-link" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                            </svg>
                                             vladtomutiu
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                        <div class="card border-0 h-100 bg-transparent">
                            <img src="https://avatars.githubusercontent.com/u/146779954?v=4" 
                                class="card-img-top rounded-circle mx-auto d-block bio-img">
                            <div class="card-body">
                                <div class="text-center">
                                    <!-- Name -->
                                    <h5 class="card-title">Ashley-Sofia Alfaro </h5>
                                    <!-- Bio -->
                                    <p class="card-text">
                                        Frontend Development, API Development.
                                    </p>
                                    <!-- Github Profile -->
                                    <p>
                                        <a href="https://github.com/AshleySofiaAlfaro" class="git-link" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                            </svg>
                                             AshleySofiaAlfaro
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                        <div class="card border-0 h-100 bg-transparent">
                            <img src="https://avatars.githubusercontent.com/u/230491136?v=4" 
                                class="card-img-top rounded-circle mx-auto d-block bio-img">
                            <div class="card-body">
                                <div class="text-center">
                                    <!-- Name -->
                                    <h5 class="card-title">Calvin Small</h5>
                                    <!-- Bio -->
                                    <p class="card-text">
                                        Data collection, Frontend Development, API Development.
                                    </p>
                                    <!-- Github Profile -->
                                    <p>
                                        <a href="https://github.com/SmallCoder128" class="git-link" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                            </svg>
                                             SmallCoder128
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                        <div class="card border-0 h-100 bg-transparent">
                            <img src="	https://avatars.githubusercontent.com/u/183554594?v=4" 
                                class="card-img-top rounded-circle mx-auto d-block bio-img">
                            <div class="card-body">
                                <div class="text-center">
                                    <!-- Name -->
                                    <h5 class="card-title">Jayce Pascua</h5>
                                    <!-- Bio -->
                                    <p class="card-text">
                                        Documentation, Data collection, website idea.
                                    </p>
                                    <!-- Github Profile -->
                                    <p>
                                        <a href="https://github.com/BraddahJayce" class="git-link" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                            </svg>
                                             BraddahJayce
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Project Description -->
        <!-- Tools used, data/API resources -->
        <div class="p-5 project-desc">
            <h1 class="pb-3">Our Project</h1>
            <p>Our project seeks to demonstrate the development skills of the entire team by producing a comprehensive restaurant directory web application. We hope that this website will serve as a valuable resource for users looking to explore and discover new dining experiences.</p>
            <a href="https://github.com/SmallCoder128/CS401_Project" class="git-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg>
                CS401_Project
            </a>
        </div>
    </body>
</html>